/* App.css */
#root {
    padding-top: 0;
}
#root::before {
    content: "";
    width: 149px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    background-image: url(bg.jpg);
    opacity: 0.6;
}
#root::after {
    content: "";
    opacity: 0.6;
    width: 149px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0px;
    background-image: url(bg.jpg);
    transform: rotate(180deg);
}
.app::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
    background-color: #fff;
}
.app {
    z-index: 1;
    position: relative;
    max-width: 1176px;
    margin: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    margin-top: 0;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}
h2 {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 24px;
}

h2 span {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    display: block;
    margin-bottom: 15px;
}
.content-container {
    position: relative;
    text-align: center;
    padding: 90px 20px 20px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
.content-container::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 253px;
    background-image: url(banner-flag.jpg);
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
}
h5 {
    margin-bottom: 0;
}
.date {
    color: red;
    font-size: 34px;
}
@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #root {
        padding-top: 20px;
    }
}

.icon {
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
#female-dancer {
    left: 50px;
    bottom: 100px;
}
#mechanical-bull {
    bottom: 180px;
    right: 50px;
    width: 250px;
}

#jumping-castle {
    bottom: 350px;
    width: 300px;
    object-fit: cover;
    height: 300px;
    object-position: right;
    left: 100px;
}
#food {
    width: 250px;
    bottom: 550px;
    right: 55px;
}
@media screen and (max-width: 930px) {
    h2 span {
        font-size: 24px;
    }
    .icon {
        width: 100px !important;
    }

    #female-dancer {
        left: 0;
        bottom: 285px;
    }
    #mechanical-bull {
        bottom: 460px;
        right: 20px;
    }
    #jumping-castle {
        bottom: 640px;
        width: 150px !important;
        object-fit: cover;
        object-position: right;
        left: -10px;
        height: 150px !important;
    }
    #food {
        width: 150px;
        bottom: 770px;
        right: 0;
    }
}

.venmo-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.venmo-container img {
    width: 275px;
}
.venmo-container a {
    text-decoration: none;
}
.venmo-container a span {
    display: block;
    color: #000;
}

.small-red {
    font-size: 16px;
    font-weight: bold;
    color: red;
}
